<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{$title}</title>

        <link rel="stylesheet" type="text/css" href="/dist/nittro-full.min.css" />
        <script type="application/javascript">var _stack = [];</script>
        <script type="application/javascript" src="/dist/nittro-full.min.js" async defer></script>
        <style type="text/css">
            #loading {
                position: fixed;
                display: block;
                left: 0;
                top: 0;
                width: 100%;
                height: 5px;
                background: #900;
                opacity: 0;
                transform-origin: left top;
                transform: scaleX(0);
            }

            #loading.nittro-transition-out {
                opacity: 1;
                transform: scaleX(0.5);
                transition: transform 0.3s;
            }

            #loading.nittro-transition-middle {
                opacity: 1;
                transform: scaleX(0.9);
                transition: transform 10s;
            }

            #loading.nittro-transition-in {
                transform: scaleX(1);
                opacity: 0;
                transition: transform 0.2s, opacity 0.2s step-end;
            }
        </style>
    </head>
    <body>
        <h1 n:snippet="title">{$title}</h1>

        <nav id="main-nav">
            <a n:href="Snippets:">Snippets</a>
            |
            <a n:href="DynamicSnippets:">Dynamic snippets</a>
            |
            <a n:href="DynamicSnippets:sorted">Sorted dynamic snippets</a>
        </nav>

        <div n:snippet="content" class="nittro-transition-slide">
            {block content}{/block}
        </div>

        <div id="loading" class="nittro-transition-auto"></div>
    </body>
</html>
