parameters:


php:
    date.timezone: Europe/Prague


application:
    scanDirs: %appDir%/presenters
    scanComposer: false
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

routing:
    debugger: true

tracy:

latte:
    macros:
        - Nittro\Bridges\NittroLatte\NittroMacros

session:
    expiration: 14 days


services:
    routing.router:
        setup:
            - "$service[] = new Nette\\Application\\Routers\\Route(?, ?, ?)"('', 'Snippets:default', 1)
            - "$service[] = new Nette\\Application\\Routers\\Route(?, ?)"('<presenter>[/<action>]', 'Home:default')
